body{
    background-color: #e6f7ff;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: #005f6a;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1{
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main{
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rules{
    margin: 20px 0;
}

.rules{
    margin: 20px 0;
}

.rules h2{
    text-align: center;
    font-size: 2rem;
    color: #005f6a;
    margin-bottom: 10px;
}

.rules p{
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
    margin: 10px 0;
}

footer{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #005f6a;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer a{
    color: #ffcccb;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}
